
<h1>Buscando: <small> {{ text }}</small></h1>
<hr />

<div *ngIf="heroes.length == 0" class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          No existen resultados con el término: {{ text }}
        </div>
    </div>

</div>
<div class="card-columns">
  <div
    class="card animated fadeIn fast"
    *ngFor="let item of heroes; let i = index"
  >
    <img [src]="item.img" class="card-img-top" [alt]="item.nombre" />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.bio }}</p>
      <p class="card-text">
        <small class="text-muted">{{ item.aparicion }}</small>
      </p>
      <button
        (click)="verHeroe(i)"
        type="button"
        class="btn btn-outline-primary btn-block"
      >
        Ver más...
      </button>
    </div>
  </div>
</div>
