<div class="container">
  <br />
  <h1>Pipes</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ name }}</td>
        <td> uppercase </td>
        <td>{{ name | uppercase }} </td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td> lowercase </td>
        <td>{{ name | lowercase }} </td>
      </tr>
    </tbody>
  </table>
</div>
